
$font-family-sans-serif: 'Rubik', sans-serif;
$primary: #5265E1;
$secondary: #FA5959; 
$dark: rgb(1, 0, 56);
$text-muted: rgb(167, 167, 167);
$accordion-button-active-bg: white;
$accordion-button-active-color: rgb(0, 0, 0);
$accordion-button-focus-box-shadow: #9c141400;
$accordion-icon-active-color: $secondary;
$accordion-button-icon: url(/nivell-1/assets/Imagenes/icon-arrow.svg);
$form-feedback-icon-invalid: url(/nivell-1/assets/Imagenes/icon-error.svg);
$nav-tabs-link-active-color: black;
$nav-tabs-link-hover-border-color: transparent;

/* Another colours*/
$white: rgb(255, 255, 255);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../sass/mixin.scss";



$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
);
body {
    overflow-x: hidden;
}

/**hovers & states*/

.navbar .nav-link:hover {
    color: $secondary;
}
.nav .nav-link:hover {
    color: $secondary;
}
.nav .nav-link.active {
    color: black;
}

/* decorative pills*/
.pill-1 {
    position: absolute;
    height: 32%;
    left: 70%;
    right: 30%;
    top: 30%;
    width: 100%;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    z-index: -1;

}
.pill-2 {
    width:400%;
    z-index: -1;
    height: 40%;
	top: 110%;
	right: 62%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
}
/*FEATURES*/

.gap-4 .nav-link.show, .gap-4 .nav-link.active {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    border-bottom: 5px solid $secondary; 
    border-radius: none;
    padding: 1.75em;
}


/*CARDS*/ 
#card-middle {
    margin-top: 5em;
}

#card-bottom {
    margin-top: 10em;
}
#button-extension {
    padding: .75em 2em .75em 2em;
    margin-top: 2.5em;
    margin-bottom: .5em;
}


.card-img-top, .card-img-middle, .card-img-bottom {
    width: 10em;
    padding: 2em;
    margin-top: 1em;
    
}

/*FAQS*/ 

.accordion-item .accordion-header:active {
    border-color: white;
}



/*footer*/

.invalid-feedback {
    color: white;
    background-color: $secondary;
    margin-top: 0px;
    text-indent: .75em;

}

.fa-facebook:hover {
    filter: invert(73%) sepia(84%) saturate(5316%) hue-rotate(326deg) brightness(98%) contrast(101%);
}
.fa-twitter:hover {
    filter: invert(73%) sepia(84%) saturate(5316%) hue-rotate(326deg) brightness(98%) contrast(101%);
}



